.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    h1{
        font-size: 6em;
    }
    span {
        font-size: 2em;
    }
}