// Variables
@import "colors";

header {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5%;
  background-color: $primary-color;
  .logo {
    display: flex;
    align-items: center;
    color: $light;

    .logo-title {
      display: flex;
      flex-direction: column;

      margin-left: 1em;

      span.app-logo-title {
        font-size: 2em;
      }
      span.app-logo-subtitle {
        font-size: 0.6em;
        padding-top: 4px;
        color: $secondary-color;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
  }
  .search-bar {
    display: flex;
    align-items: center;
    background-color: transparent;
    min-width: 450px;
    position: relative;

    color: rgba($light, 1);

    input {
      background-color: transparent;
      font-size: 1em;
      padding: 0.6em 1em;
      width: 100%;
      border-bottom: 1px solid $light;
      color: rgba($light, 1);

      &::placeholder {
        color: rgba($light, 0.6);
      }
    }
    i {
      position: absolute;
      right: 1em;
      font-size: 1.2em;
    }
  }
  .my-account {
    position: relative;
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      font-size: 1.2em;
      color: $light;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      pointer-events: none;
    }
    .round {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: 2px solid rgba($light, 0.6);
      background-color: rgba($light, 0.2);

      &::after {
        content: "";
        display: block;
        position: absolute;
        background-color: $light;
        right: 0;
        top: 2px;
        width: 12px;
        height: 12px;
        border-radius: 7px;
        z-index: 3;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 0px;
        height: 0px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: $third-color;
        transition: all 0.3s ease-in;
        z-index: 1;
      }
      &:hover {
        cursor: pointer;
        &::before {
          width: 48px;
          height: 48px;
        }
      }
    }
    .user-card {
      display: none;
    }
  }
  .my-account.logedin {
    .round::after {
      background-color: #6bf76b;
      width: 14px;
      height: 14px;
    }
    .account-symbol:hover .user-card {
      display: block;
    }
    .user-card {
      display: block;
      position: absolute;
      right: -2em;
      top: 52px;
      padding: 2em 4em;
      background-color: rgba($light, 1);
    }
  }
}
