//Font Family
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
@import 'colors';

// Reset
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none;
  color: unset;
}
input {
  outline: none;
  border: none;
}

.main-content {
  min-height: 85vh;
  overflow: hidden;
}
button.add {
  position: fixed;
  right: 2.5%;
  bottom: 24px;
  border-radius: 50%;
  width: 0;
  height: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
}
.add-new-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 2.5%;
  bottom: 24px;
  font-size: 2em;
  background-color: rgba($third-color, 1);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: $light;
  cursor: pointer;
  transition: transform ease-in .5s;
  
  &:hover {
    transform: scale(1.2);
    background-color: #3898a5;
  }
}
.emptyCategory {
  display: flex;
  height: 100%;
  min-height: 85vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 6em;
    margin-bottom: .2em;
    color: rgba($primary-color, .2);
  }
  a {
    font-size: 1.4em;
  }
}
.searchBar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}